SECRET_KEY=cambiar-por-una-clave-secreta
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=mater_dolorosa
DB_USER=mater_user
DB_PASSWORD=cambiar-password
DB_ROOT_PASSWORD=cambiar-password-root
DB_HOST=127.0.0.1
DB_PORT=3308
